@tailwind base;
@tailwind components;
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #d1f6ff;
  border-radius: 100vh;
  /* border: 1px solid #f6f7ed; */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  width: 20px;
  background: #6badce;
}
@tailwind utilities;

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'),
    url(./fonts/wahyu-and-sani-co-genera/SemiBold.ttf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
